.form-am-custom {
  background-color: white;
  padding: 0.7rem;
  margin: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: max-content;
  width: 90vw;
  max-width: 900px;
  transition: 0.7s all ease-in-out;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.form-am-custom label {
  font-weight: 700;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin: 0;
}

.form-am-custom > p {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid black;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.form-am-custom small {
  color: red !important;
  font-weight: 500;
}

.form-group-custom,
.form-am-custom input {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}

.form-am-custom > i {
  padding: 0.8rem;
  width: 3rem;
  font-size: 1rem;
  background-color: rgb(221, 218, 218);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.form-am-custom input:focus {
  outline: none !important;
}

.form-am-custom input {
  border: 0;
  padding-left: 0.7rem;
}

.img-prev-form img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
