.container-historial {
  width: 70vw;
  max-width: 1300px;
  margin: 0 auto;
}

.contain-img-emp-historial > img {
  width: 7rem;
  height: 7rem;
  border-radius: 5px;
}

.nombre-emp-historial > h4 {
  padding: 0 1rem;
}

.card-historial {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  width: 100%;
  margin: 2%;
}

.card-historial-header {
  padding: 0.8rem 1rem;
  border-radius: 5px 5px 0 0;
  background-color: rgb(245, 246, 252);
}

.card-historial-header > h4 {
  margin: 0;
  text-align: start;
}

.card-historial-body {
  padding: 1rem 0.7rem;
}

.sueldo-historial > p {
  background-color: rgb(235, 249, 234);
  color: rgb(52, 198, 53);
  padding: 0.3rem 0.8rem;
  width: max-content;
  border-radius: 5px;
}

.rol-historial > p {
  color: rgb(36, 36, 36);
}

.alert-historial > p {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
